html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    margin: auto;
    width: 75%;
    height: 50%;
    background: rgb(39, 39, 39);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
}

#question {
    color: white;
    font-size: 48px;
    font-family: sans-serif;
    text-align: center;
    margin: 100px 25px 25px 25px;
    top: 5%;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.answer {
    display: inline-block;
    border: none;
    font-family: sans-serif;
    width: 200px; 
    height: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #4F4F4F;
    margin: 25px 25px 25px 25px;
    border: 5px solid black;
    border-radius: 25px;
}

.answer:hover{
    background: #FF006A;
    cursor: pointer;
}

#score {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 48px;
    font-family: sans-serif;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
